@model AbonentDoc
@using PagedList.Mvc
@using DigitalTVBilling.Helpers
@using DigitalTVBilling.ListModels;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc1</title>
    <style>
        #doc_wrapper[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

        #doc_wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        ul {
        }

        .title {
            font-weight: bold;
        }

        .sign {
            display: inline-block;
        }

        #left-sign {
            float: left;
        }

        #right-sign {
            float: right;
        }

        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
    <div id="doc_wrapper" size="A4">
        <table>
            <tr>
                <th>
                    <br />
                    <br />
                    <div>
                        <span>სააბონენტო ხელშეკრულება #--------------</span>
                    </div>
                    <br />
                    <br />
                </th>
            </tr>
            <tr>
                <td>
                    <div class="sign-wrapper clearfix">
                        <div class="sign" id="right-sign">_____  ____________2017წ.</div>
                    </div>
                    <br />
                    <br />
                    <div class="content">
                        ერთი მხრივ <b>შპს ,,დი +“</b> (ს/კ 400166262, მისამართი: ქ. თბილისი, ალექსიძის ქ. #1) წარმოდგენილი   ----------------------------------------------- (პ/ნ -------------------) სახით (შემდგომში ,,კომპანია“) და მეორე მხრივ --------------------- ------------------------- (პ/ნ -------------------------; მისამართი: ------------------------------------------------- ტელ: --------------------------ელ. ფოსტა: ----------------------------- )  შემდგომში (,,აბონენტი”), ნების თავისუფალი გამოვლენის საფუძველზე ვთანხმდებით შემდეგზე:
                    </div>
                    <br />
                    <div>
                        <div class="title">მუხლი 1.  ხელშეკრულების საგანი</div>
                        <ul>
                            <li>
                                წინამდებარე ხელშეკრულების საფუძველზე „კომპანია“ ახორციელებს „აბონენტისათვის“ ელექტრონული საკომუნიკაციო მომსახურების  მიწოდებას. კერძოდ, ,,კომპანია“ ,,აბონენტს“ უწევს მაუწყებლობის ტრანზიტით მომსახურებას.
                            </li>
                            <li>
                                ამავე ხელშეკრულების ფარგლებში ,,კომპანია” ,,აბონენტს“ დროებით სარგებლობაში გადასცემს Digital TV-ს მიმღებ მოწყობილობას (მიმღები, პულტი, ტელევიზორისა და მიმღების დამაკავშირებელი კაბელები, კვების ბლოკი, ბარათი)   <b>BTV-5K</b>;
                            </li>
                            <li>
                                ხელშეკრულების გაფორმების მომენტისთვის მომსახურების პაკეტი (Standard) მოიცავს 23 სატელევიზიო არხს: National Geographic, National Geographic Wilde, Nauka2.0, BabyTV, Nickelodeon, Setanta+, Setanta, VH1, RUTV ,Premiera, TV 3,Kinohit, FOX, RTR Planeta, BBC, EuroNews, СТС, Ren TV, Peretz, Пятница, Оружие, Охота и Рыбалка, Rуcckaя Noчь
                            </li>
                            <li>
                                ,,კომპანია“ უფლებამოსილია ცალმხრივად, ნებისმიერ დროს შეცვალოს მომსახურების პაკეტი ან/და მისი შემადგენლობა (სატელევიზიო არხები) რის თაობაზეც ,,აბონენტს“ უნდა ეცნობოს ინდივიდუალური შეტყობინებით ცვლილებამდე 10 (ათი) სამუშაო დღით ადრე.
                            </li>
                        </ul>
                        <div class="title">მუხლი 2. მხარეთა უფლება-მოვალეობები</div>
                        <ul>
                            <li>
                                „კომპანია“ ვალდებულია: ხელშეკრულების დადებისთანავე განახორციელოს მისთვის მაუწყებლობის ტრანზიტით მომსახურების მიწოდება ხელშეკრულებით განსაზღვრული პირობებით; ხელშეკრულების მოქმედების განმავლობაში უზრუნველყოს „აბონენტებისთვის“ ხარისხიანი მომსახურების მიწოდება. წინააღმდეგ შემთხვევაში ,,აბონენტი“ არ იხდის ,,კომპანიის“ ბრალით უხარისხოდ მიწოდებული მომსახურების დროის ღირებულებას. ეს წესი არ ვრცელდება სარემონტო, პროფილაქტიკურ სამუშაოებსა და გადაუდებელ შემთხვევებზე; „აბონენტის“ შეტყობინების საფუძველზე, შეძლებისდაგვარად უმოკლეს ვადებში (არაუმეტეს 2 (ორი) სამუშაო დღისა) აღმოფხვრას მისი მიზეზით გამოწვეული მომსახურების მიწოდებასთან  დაკავშირებული დაზიანება; ხელშეკრულების მოქმედების განმავლობაში მოემსახუროს „აბონენტს“ ცხელი ხაზით (032) 2051212; მომსახურების ტარიფების ცვლილების შემთხვევაში ინდივიდუალური შეტყობინებით მიაწოდოს ,,აბონენტს“ ინფორმაცია 1 (ერთი) თვით ადრე;

                            </li>
                            <li>
                                „კომპანია“ უფლებამოსილია: პროფილაქტიკური სამუშაოების ჩატარებისას დროებით შეაჩეროს ან შეუზღუდოს „აბონენტს“ მომსახურების მიწოდება, რის შესახებაც უნდა აცნობოს წინასწარ; „აბონენტს“ შესაბამისი შეტყობინება გაუგზავნოს ტელეფონის ნომერზე, ელექტრონული ფოსტაზე ან რეგისტრაციის ადგილზე, მათი შეცვლის შემთხვევაში „აბონენტი“ ვალდებულია დაუყოვნებლივ აცნობოს „კომპანიას“, წინააღმდეგ შემთხვევაში შეტყობინება ჩაითვლება ჩაბარებულად; საქართველოს ტერიტორიაზე, სატელევიზიო არხის ან მისი შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენების უფლების დაკარგვის შემთხვევაში, შეწყვიტოს მისი მიწოდება ან ჩაანაცვლოს იგი სხვა გადაცემით. მხარეები თანხმდებიან, რომ „კომპანია“ მსგავსი უფლებამოსილებით აღჭურვილია იმ შემთხვევაშიც, თუ სატელევიზიო არხის შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენება დაუშვებელია კომპეტენტური სახელმწიფო ორგანოს აკრძალვისა ან/და საავტორო და მომიჯნავე უფლებების შესახებ საქართველოს კანონის მოთხოვნების გამო.

                            </li>
                            <li>
                                „აბონენტი“ ვალდებულია: აწარმოოს ანგარიშსწორება „კომპანიასთან“ ხელშეკრულებით გათვალისწინებული წესითა და პირობებით; ჰქონდეს გამართული საანტენო მეურნეობა; შეატყობინოს „კომპანიას“ მომსახურების მიწოდების შეფერხების შემთხვევაში აღნიშნული ფაქტის შეტყობიდან 24 საათის განმავლობაში; შეძლებისდაგვარად შეუწყოს ხელი „კომპანიის“ თანამშრომლებს წარმოქმნილი ხარვეზის გამოსწორებაში; არ განახორციელოს მომსახურების მიყიდვა ან რაიმე ფორმით გადაცემა, მიწოდება ან გაყოფა მესამე პირებისათვის ,,კომპანიისგან” დამოუკიდებლად; წინამდებარე ხელშეკრულებით გათვალისწინებული მომსახურების სასტუმროში გამოყენების სურვილის შემთხვევაში წერილობით აცნობოს ,,კომპანიას”.

                            </li>
                        </ul>
                        <div class="title">მუხლი 3. ანგარიშსწორება მხარეებს შორის </div>
                        <ul>
                            <li>
                                ხელშეკრულების დადებისთანავე ,,აბონენტი“ იხდის ერთი თვის მომსახურების ღირებულებას - ერთი მიმღები მოწყობილობისთვის 12 (თორმეტი) ლარს, მიმღები მოწყობილობის ქირის საფასურს - ერთი მიმღები მოწყობილობისთვის 3 (სამი) ლარს. ამასთანავე ხელშეკრულების დადებისთანავე, ,,აბონენტი“ ერთჯერადად იხდის  აქციაში ჩართვის თანხას  ერთი მიმღები მოწყობილობისთვის 10 (ათი) ლარის ოდენობით. მხარეები თანხმდებიან, რომ ვინაიდან ,,აბონენტი“ დასაქმებულია ,,კომპანიაში”,  პირველი გადახდის შემდგომ ,,კომპანიის” მიერ გაწეული მომსახურებისთვის გადაიხდის ყოველთვიურად 6 (ექვსი) ლარს ერთი მიმღები მოწყობილობისთვის, საიდანაც 3 (სამი) ლარი წარმოადგენს სააბონენტო გადასახადს, 3 (სამი) ლარი კი ქირის საფასურს. აღნიშნულ მუხლში მითითებულ ერთ თვეში იგულისხმება 30 (ოცდაათი) კალენდარული დღე.

                            </li>
                            <li>
                                თანხის გადახდა შესაძლებელია ნაღდი/უნაღდო ანგარიშსწორებით და სწრაფი გადახდის ტერმინალებით;

                            </li>
                            <li>
                                მხარეთა შორის ანგარიშსწორება ხორციელდება ლარში და მოიცავს კანონმდებლობით განსაზღვრულ გადასახადებს;

                            </li>
                            <li>
                                აბონენტის“ მიერ მომსახურების ღირებულება გადაიხდება წინასწარ, მომსახურების მისთვის სასურველ თვეთა რაოდენობის ექვივალენტური ფულადი თანხის „კომპანიაში“ კუთვნილ ბარათზე შეტანის, დეპონირების გზით (ბალანსი), რა პერიოდითაც (თვეების შესაბამისად) განისაზღვრება „კომპანიის“ მიერ „აბონენტისათვის“ მომსახურების მიწოდების ხანგძლივობა;

                            </li>
                            <li>
                                ბარათზე თანხის (ბალანსის) ამოწურვის და ერთი თვის მომსახურების ღირებულების სრულად არქონის შემთხვევაში „კომპანია“ „აბონენტისათვის“ მომსახურების მიწოდებას შეზღუდავს. ,,აბონენტის“ უნიკალური ნომერია --------------------------------, რომელზეც აისახება „აბონენტის“ მიერ გადახდილი თანხების მოძრაობა და ზოგადად მისი სააბონენტო ისტორია;

                            </li>
                            <li>
                                მომსახურების ზედიზედ 2 (ორი) თვის განმავლობაში შეზღუდვის შემთხვევაში ,,აბონენტს“ მომსახურება უწყდება. ამ შემთხვევაში ქსელში აბონენტად აღდგენისთვის „აბონენტი“ იხდის 5 (ხუთი) ლარს ერთი მიმღები მოწყობილობისთვის. მომსახურების შეზღუდვისა და მომსახურების შეწყვეტის შემთხვევაში მიმღები მოწყობილობა იბლოკება.  ამავე პერიოდში (მომსახურების შეზღუდვისა და შეწყვეტის შემთხვევაში) ,,აბონენტი“ არ თავისუფლდება ქირის თანხის გადახდისგან;

                            </li>
                            <li>
                                ,,აბონენტის“ მიერ მომსახურების შეწყვეტის შემდგომ აბონენტად აღდგენის დროს პირველ რიგში დაიფარება ქირის ღირებულების დავალიანება, შემდგომ აბონენტად აღდგენის საფასური, შემდგომ პირველი თვის ქირის ღირებულება და ბოლოს მომსახურების საფასური.
                            </li>
                        </ul>
                        <div class="title">მუხლი 4. საგარანტიო პირობები</div>
                        <ul>
                            <li>
                                ქარხნული წუნის შემთხვევაში მიმღები მოწყობილობის შეცვლა შესაძლებელია მისი ,,აბონენტისათვის“ გადაცემიდან 7 (შვიდი) კალენდარული დღის განმავლობაში. გადაცემიდან 7 (შვიდი) კალენდარული დღის შემდგომ 6 (ექვსი) თვის განმავლობაში ქარხნული წუნის არსებობისას ხორციელდება ნივთის  შეკეთება (თუ შეკეთება შეუძლებელია,  ხდება ნივთის შეცვლა);
                            </li>
                            <li>
                                ,,კომპანია“ ქარხნულ წუნს ადგენს - ნივთის მიღებიდან 3 (სამი) სამუშაო დღეში, ხოლო ქარხნული წუნის დადგენის შემთხვევაში ,,კომპანია“ ვალდებულია შეაკეთოს/შეცვალოს  ნივთი 10 (ათი) სამუშაო დღის ვადაში;
                            </li>
                            <li>
                                სხვა მიზეზით დაზიანებული  მიმღები მოწყობილობის შემადგენელი ერთი ნაწილისთვის, მომხმარებელს ეკისრება ჯარიმა 5 (ხუთი) ლარის ოდენობით და იხდის შესაბამისი ნივთის ღირებულებას, რის შემდეგაც ,,აბონენტს“ დროებით სარგებლობაში გადაეცემა შესაბამისი, იმავე მოდელის ნივთი.
                            </li>
                            <li>
                                მიმღები მოწყობილობის დაკარგვის, სრულად დაზიანების/განადგურების შემთხვევაში ან თუ წინამდებარე ხელშეკრულებით განსაზღვრული პირობების შესაბამისად არ აბრუნებს მიმღებ მოწყობილობას ,,აბონენტი“ გადაიხდის მიმღები მოწყობილის ღირებულებას 99 (ოთხმოცდაცხრამეტი) ლარს.
                            </li>
                            <li>
                                ,,აბონენტი“ საგარანტიო პირობებით სარგებლობისთვის მიმართავს შპს ,,დი +“-ის სერვის ცენტრს,  მისამართზე: ქ. თბილისი, ალექსიძის ქ. #1;
                            </li>
                        </ul>
                        <div class="title">მუხლი 5. დავის გადაწყვეტა </div>
                        <ul>
                            <li>
                                მხარეები სადაო საკითხებს წყვეტენ ურთიერთშეთანხმების საფუძველზე. შეუთანხმებლობის შემთხვევაში „აბონენტს“ შეუძლია შესაბამისი საჩივრით მიმართოს „კომპანიის“ მომხმარებელთა საჩივრების განმხილველ სამსახურს, საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს. მომხმარებელთა საჩივრების განმხილველი სამსახური დავას განიხილავს ,,ელექტრონული კომუნიკაციების შესახებ“ საქართველოს კანონითა და ,,კომპანიის“ მომხმარებელთა საჩივრების განმხილველი სამსახურის დებულებით დადგენილი წესით 15 (თხუთმეტი) დღის ვადაში. მიღებული გადაწყვეტილება შეიძლება 30 (ოცდაათი) დღის ვადაში გასაჩივრდეს საქართველოს კომუნიკაციების ეროვნულ კომისიაში ან სასამართლოში;
                            </li>
                            <li>
                                „აბონენტს“ უფლება აქვს მოქმედი კანონმდებლობის შესაბამისად პირდაპირ მიმართოს საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს;
                            </li>
                        </ul>
                        <div class="title">მუხლი 6. ხელშეკრულების ძალაში შესვლა და მოქმედების ვადა </div>
                        <ul>
                            <li>
                                ხელშეკრულება ძალაში შედის მხარეთა მიერ ხელმოწერის დღიდან და მოქმედებს 3 (სამი) წლის განმავლობაში. თუ ხელშეკრულების მოქმედების ვადის გასვლამდე არც ერთი მხარე წერილობით არ აცნობებს მეორე მხარეს ხელშეკრულებიდან გასვლის სურვილს, ხელშეკრულება ავტომატურად გაგრძელდება იგივე ვადითა და პირობებით;
                            </li>
                            <li>
                                „აბონენტი“ უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, რის შესახებაც ვალდებულია აცნობოს „კომპანიას“ წერილობით 1 (ერთი) თვით ადრე. იმ შემთხვევაში თუ „აბონენტს“ ანგარიშზე ერიცხება 1 (ერთ) თვეზე მეტი მომსახურების გადასახადის ფულადი თანხა ერთი მიმღები მოწყობილობისთვის, „კომპანია“ ვალდებულია უკან დაუბრონოს „აბონენტს“ არსებული ნაშთი;

                            </li>
                            <li>
                                „კომპანია“ უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, რის შესახებაც ვალდებულია „აბონენტს“ ინდივიდუალური შეტყობინება გაუგზავნოს შეწყვეტის თარიღის დადგომამდე 1 (ერთი) თვით ადრე და იმ შემთხვევაში თუ „აბონენტს“ ანგარიშზე ერიცხება 1 (ერთ) თვეზე მეტი მომსახურების გადასახადის ფულადი თანხა ერთი მიმღები მოწყობილობისთვის,  „კომპანია“ ვალდებულია“ დაუბრუნოს ნაშთი „აბონენტს“.
                            </li>
                            <li>
                                თუ მომსახურების შეწყვეტიდან 120 (ასოცი) დღის ვადაში ,,აბონენტი“ არ განახორციელებს წინამდებარე ხელშეკრულების 3.6 პუნქტის შესაბამისად ,,აბონენტად“ აღდგენას, წინამდებარე ხელშეკრულება შეწყდება.
                            </li>
                            <li>
                                ხელშეკრულების შეწყვეტიდან 5 (ხუთი) სამუშაო დღის ვადაში ,,აბონენტი“ ვალდებულია დააბრუნოს მისთვის გადაცემული Digital TV-ს მიმღები მოწყობილობა (მოწყობილობები) იმ მდგომარეობაში, როგორშიც ჩაიბარა და გადაიხადოს არსებული დავალიანება სრულად. მხარეთა შორის ფორმდება მიღება-ჩაბარების აქტი. 5 (ხუთი) სამუშაო დღის შემდგომ არსებული დავალიანების არ დაფარვის შემთხვევაში, ,,აბონენტს“ ეკისრება პირგასამტეხლო ყოველ ვადაგადაცილებულ დღეზე 0,07%-ს ოდენობით.

                            </li>
                        </ul>
                    </div>
                    <div class="title">მუხლი 7. გარდამავალი დებულებები</div>
                    <div class="content">
                        ის ურთიერთობანი რომელიც არ წესრიგდება აღნიშნული ხელშეკრულებით, უნდა მოწესრიგდეს  საქართველოს მოქმედი კანონმდებლობისა და ,,კომპანიის“ ვებ-გვერდზე (www.digitaltv.ge) გამოქვეყნებული სტანდარტული პირობების შესაბამისად.
                    </div>
                    <br />
                    <br />
                    <div class="footer">
                        <div class="title">მხარეთა ხელმოწერა</div>
                        <br />
                        <br />
                        <div class="sign-wrapper clearfix">
                            <div class="sign" id="left-sign">_______________________</div>
                            <div class="sign" id="right-sign">_______________________</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
