@model List<UserType>

@{
    ViewBag.Title = "ტიპები";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AddGroup = Utils.GetPermission("GROUP_ADD");
}
@section head {
    <script type="text/javascript" src="/Static/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Static/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/Static/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="/Static/Scripts/bootstrap-treeview.min.js"></script>
    <style type="text/css">
        .modal .list-group-item {
            padding: 0 10px;
        }
    </style>
    <link rel="stylesheet" href="~/Static/Styles/dropdowns-enhancement.css" type="text/css" />
}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            @RenderPage("_RightMenu.cshtml")
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-2">
                @if (ViewBag.AddGroup)
                {
                    <button type="button" id="openModal" class="btn btn-xs btn-primary" data-id="0">ახალი ჯგუფი</button>
                }
            </div>
        </div>
        <div style="margin-top: 8px;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>სახელი</th>
                        <th>წაშლა</th>
                    </tr>
                </thead>
                <tbody id="users_body">
                    @foreach (UserType user in Model)
                    {
                        <tr data-id="@user.Id">
                            <td>@user.Name</td>
                            <td id="edit_group" style="cursor:pointer" onclick="delete_group(@user.Id)" value="0"><span class="glyphicon glyphicon-edit" @*id="edit_abonent" style="cursor:pointer"*@></span></td>
                        </tr>
                    }
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td style="text-align: center;">სია ცარიელია</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#users_body").on("click", "tr", function (e) {
            if ($("#edit_group").val() == 0)
                openModal($(this).data("id"));

        });

        $("#openModal").on("click", function (e) {
            e.preventDefault();
            openModal($(this).data("id"));
        });
    });

    function openModal(id) {
        $.get("/Books/NewType", { id: id }, function (data) {
            var content = $(data);
            $.validator.unobtrusive.parse(content.find("#type_form"));
            content.modal("show");
            content.on('hidden.bs.modal', function () {
                content.remove();
            });
            content.find("form").each(function (i, form) {
                GeoKBD.map($(form).attr("name"), $.map($(form).find("input[type='text'], textarea"), function (item, k) {
                    return $(item).attr("name");
                }), $(form).get(0));
            });
            content.find("form").submit(function (e) {
                setFieldsChange($(this).find("input[data-tag]"));
            });
        });
    }
    function delete_group(id) {
        //alert(id);
        $("#edit_group").val("1");
      
        if (confirm("ნამდვილად დარწმუნებული ხარ ნატალია რომ წასაშლელია ?") == true) {

        } else {
            $("#edit_group").val("0");
            return;
        }
        $.post("/Books/DeleteGroup", { id: id }, function (data) {
            if (data == 0) {
                alert("ჯგუფი ვერ წაიშალა!");

            }
            else {
                alert("ჯგუფი წაიშალა!")
                return location.href = "/Books/Types";
            }

        });
    }
    function onSuccessNewType(res) {
        if (res)
            location.href = "/Books/Types";
    }
</script>




