# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence
 
quartz.scheduler.instanceName = JobSheduler
quartz.scheduler.instanceId = AUTO
quartz.threadPool.type = Quartz.Simpl.ZeroSizeThreadPool, Quartz 
 
quartz.jobStore.type = All #Quartz.Impl.AdoJobStore.JobStoreTX, Quartz 
quartz.jobStore.dataSource = default 
quartz.jobStore.tablePrefix = QRTZ_ 
quartz.jobStore.clustered = false
quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz 
quartz.dataSource.default.provider = SqlServer-20
quartz.jobStore.useProperties = true
quartz.dataSource.default.connectionStringName = DataConnect
quartz.dataSource.default.connectionString = Data Source=localhost;Initial Catalog=StereoPlusBilling;User ID=sa;Password=Sa1234;MultipleActiveResultSets=true