<div class="modal fade">
    <div class="modal-dialog">
        @using (Ajax.BeginForm("", null, new AjaxOptions
                                         {
                                             Url = Url.Action("RestoreMoney"),
                                             OnSuccess = "onRestoreMoney",
                                             HttpMethod = "POST"
                                         }, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">თანხის გადანაწილება</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">ბარათიდან:</label>
                            <div class="col-md-7">
                                @Html.DropDownList("CardFrom", new SelectList((List<IdName>)@ViewBag.FromCards, "Id", "Name"), new { @class = "form-control input-sm", id="money_move_from" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">ბარათზე:</label>
                            <div class="col-md-7">
                                @Html.DropDownList("CardTo", new SelectList((List<IdName>)@ViewBag.ToCards, "Id", "Name"), new { @class = "form-control input-sm", id = "money_move_to" })
                            </div>
                        </div>
                        <div class="form-group hide" id="balance_group">
                            <label class="control-label col-md-3">ბალანსი</label>
                            <div class="col-md-4">
                                <input type="text" name="Balance" class="form-control input-sm" id="balance" />
                            </div>
                        </div>             
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">დახურვა</button>
                    <input type="submit" class="btn btn-primary btn-xs" value="გადატანა" />
                </div>
            </div>
        }
    </div>
</div>



