@model AbonentDoc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc1</title>
    <style>
        #doc_wrapper[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

        #doc_wrapper {
            /*position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;*/
            margin: 0 auto;
        }

        .pageBreak{
            page-break-after: always;
        }

        ul {
        }

        .title {
            font-weight: bold;
        }

        .sign {
            display: inline-block;
        }

        #left-sign {
            float: left;
        }

        #right-sign {
            float: right;
        }

        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
    <div id="doc_wrapper" size="A4">
        <table>
            <tr>
                <th>
                    <br />
                    <br />
                    <div>
                        <span>სააბონენტო ხელშეკრულება #--------------</span>
                    </div>
                    <br />
                    <br />
                </th>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        ერთი მხრივ შპს ,,დი +“  (ს/კ 400166262, მისამართი: ქ. თბილისი, ალექსიძის ქ. #1) წარმოდგენილი ---------------------------------------(პ/ნ-------------------------; ) სახით (შემდგომში ,,კომპანია“) და მეორე მხრივ ----------------------------------------- (პ/ნ -------------------------; მისამართი: --------------------------------------------------------------------------------------------------- ტელ: ------------------------------- ელ.ფოსტა: ----------------------------- )  შემდგომში (აბონენტი) ნების თავისუფალი გამოვლენის საფუძველზე ვთანხმდებით შემდეგზე:
                    </div>

                    <div class="title">მუხლი 1.  ხელშეკრულების საგანი</div>
                    <div class="content">
                        1.1 წინამდებარე ხელშეკრულების საფუძველზე „კომპანია“ ახორციელებს „აბონენტისათვის“ ელექტრონული საკომუნიკაციო მომსახურების  მიწოდებას. კერძოდ, ,,კომპანია“ ,,აბონენტს“ უწევს მაუწყებლობის ტრანზიტით მომსახურებას.<br />
                        1.2 ხელშეკრულების გაფორმების მომენტისთვის მომსახურების პაკეტი (Standard) მოიცავს 23 სატელევიზიო არხს: National Geographic, National Geographic Wilde, Nauka2.0, BabyTV, Nickelodeon, Setanta+, Setanta, VH1, RUTV, Premiera, TV 3, Kinohit, FOX, RTR Planeta, BBC, EuroNews, СТС, Ren TV, Peretz, Пятница, Оружие, Охота и Рыбалка, Rуcckaя Noчь.<br />
                        1.3 ,,კომპანია“ უფლებამოსილია ცალმხრივად, ნებისმიერ დროს შეცვალოს მომსახურების პაკეტი ან/და მისი შემადგენლობა (სატელევიზიო არხები) რის თაობაზეც ,,აბონენტს“ უნდა ეცნობოს ინდივიდუალური შეტყობინებით ცვლილებამდე 10 (ათი) სამუშაო დღით ადრე.

                    </div>
                    <div class="title">მუხლი 2. მხარეთა უფლება-მოვალეობები</div>
                    <div class="content">
                        2.1	„კომპანია“ ვალდებულია: ხელშეკრულების დადებისთანავე განახორციელოს მისთვის მაუწყებლობის ტრანზიტით მომსახურების მიწოდება ხელშეკრულებით განსაზღვრული პირობებით; ხელშეკრულების მოქმედების განმავლობაში უზრუნველყოს „აბონენტებისთვის“ ხარისხიანი მომსახურების მიწოდება. წინააღმდეგ შემთხვევაში ,,აბონენტი“ არ იხდის ,,კომპანიის“ ბრალით უხარისხოდ მიწოდებული მომსახურების დროის ღირებულებას. ეს წესი არ ვრცელდება სარემონტო, პროფილაქტიკურ სამუშაოებსა და გადაუდებელ შემთხვევებზე; „აბონენტის“ შეტყობინების საფუძველზე, შეძლებისდაგვარად უმოკლეს ვადებში (არაუმეტეს 2 (ორი) სამუშაო დღისა) აღმოფხვრას მისი მიზეზით გამოწვეული მომსახურების მიწოდებასთან  დაკავშირებული დაზიანება; ხელშეკრულების მოქმედების განმავლობაში მოემსახუროს „აბონენტს“ ცხელი ხაზით (032) 2051212; მომსახურების ტარიფების ცვლილების შემთხვევაში ინდივიდუალური შეტყობინებით მიაწოდოს ,,აბონენტს“ ინფორმაცია 1 (ერთი) თვით ადრე;<br />
                        2.2	 „კომპანია“ უფლებამოსილია: პროფილაქტიკური სამუშაოების ჩატარებისას დროებით შეაჩეროს ან შეუზღუდოს „აბონენტს“ მომსახურების მიწოდება, რის შესახებაც უნდა აცნობოს წინასწარ;  „აბონენტს“ შესაბამისი შეტყობინება გაუგზავნოს ტელეფონის ნომერზე, ელექტრონული ფოსტაზე ან რეგისტრაციის ადგილზე, მათი შეცვლის შემთხვევაში „აბონენტი“ ვალდებულია დაუყოვნებლივ აცნობოს „კომპანიას“, წინააღმდეგ შემთხვევაში შეტყობინება ჩაითვლება ჩაბარებულად; საქართველოს ტერიტორიაზე, სატელევიზიო არხის ან მისი შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენების უფლების დაკარგვის შემთხვევაში, შეწყვიტოს მისი მიწოდება ან ჩაანაცვლოს იგი სხვა გადაცემით. მხარეები თანხმდებიან, რომ „კომპანია“ მსგავსი უფლებამოსილებით აღჭურვილია იმ შემთხვევაშიც, თუ სატელევიზიო არხის შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენება დაუშვებელია კომპეტენტური სახელმწიფო ორგანოს აკრძალვისა ან/და საავტორო და მომიჯნავე უფლებების შესახებ საქართველოს კანონის მოთხოვნების გამო;<br />
                        2.3	 „აბონენტი“ ვალდებულია: აწარმოოს ანგარიშსწორება „კომპანიასთან“ ხელშეკრულებით გათვალისწინებული წესითა და პირობებით; ჰქონდეს გამართული საანტენო მეურნეობა; შეატყობინოს „კომპანიას“ მომსახურების მიწოდების შეფერხების შემთხვევაში აღნიშნული ფაქტის შეტყობიდან 24 საათის განმავლობაში; შეძლებისდაგვარად შეუწყოს ხელი „კომპანიის“ თანამშრომლებს წარმოქმნილი ხარვეზის გამოსწორებაში; არ განახორციელოს მომსახურების მიყიდვა ან რაიმე ფორმით გადაცემა, მიწოდება ან გაყოფა მესამე პირებისათვის ,,კომპანიისგან“ დამოუკიდებლად; წინამდებარე ხელშეკრულებით გათვალისწინებული მომსახურების სასტუმროში გამოყენების სურვილის შემთხვევაში წერილობით აცნობოს ,,კომპანიას“.
                    </div>
                    <div class="title">მუხლი 3. ანგარიშსწორება მხარეებს შორის</div>
                    <div class="content">
                        3.1 ხელშეკრულების დადებისთანავე ,,აბონენტი“ საჩუქრად იღებს ერთი თვის მომსახურების ღირებულებას, რაც შეადგენს 12 (თორმეტი) ლარს ერთი მიმღები მოწყობილობისთვის მიწოდებული მომსახურებისთვის. აღნიშნულ მუხლში მითითებულ ერთ თვეში იგულისხმება 30 (ოცდაათი) კალენდარული დღე. ყოველ შემდგომი თვისთვის ,,აბონენტი“ იხდის 12 (თორმეტი) ლარს ერთი მიმღები მოწყობილობისთვის მიწოდებული მომსახურებისთვის.<br />
                        3.2 თანხის გადახდა შესაძლებელია ნაღდი/უნაღდო ანგარიშსწორებით და სწრაფი გადახდის ტერმინალებით.<br />
                        3.3 მხარეთა შორის ანგარისწორება ხორციელდება ლარში და მოიცავს კანონმდებლობით განსაზღვრულ გადასახადებს. <br />
                        3.4 „აბონენტის“ მიერ მომსახურების ღირებულება გადაიხდება წინასწარ, მომსახურების მისთვის სასურველ თვეთა რაოდენობის ექვივალენტური ფულადი თანხის „კომპანიაში“ კუთვნილ ბარათზე შეტანის, დეპონირების გზით (ბალანსი), რა პერიოდითაც (თვეების შესაბამისად) განისაზღვრება „კომპანიის“ მიერ „აბონენტისათვის“ მომსახურების მიწოდების ხანგძლივობა. <br />
                    </div>
                    <div class="pageBreak"></div>
                    <br />
                    <br />
                    <div class="content">
                        3.5 ბარათზე თანხის (ბალანსის) ამოწურვის და ერთი თვის მომსახურების ღირებულების სრულად არქონის შემთხვევაში „კომპანია“ „აბონენტისათვის“ მომსახურების მიწოდებას შეზღუდავს. ,,აბონენტის“ უნიკალური ნომერია --------------------------------, რომელზეც აისახება „აბონენტის“ მიერ გადახდილი თანხების მოძრაობა და ზოგადად მისი სააბონენტო ისტორია. <br />
                        3.6 მომსახურების ზედიზედ 2 (ორი) თვის განმავლობაში შეზღუდვის შემთხვევაში ,,აბონენტს“<br /> მომსახურება უწყდება. ქსელში აბონენტად აღდგენისთვის „აბონენტი“ იხდის 5 (ხუთი) ლარს.
                        3.7 ,,აბონენტის“ მიერ მომსახურების შეწყვეტის შემდგომ აბონენტად აღდგენის დროს პირველ რიგში დაიფარება აბონენტად აღდგენის საფასური, შემდგომ კი მომსახურების საფასური.<br />
                    </div>

                    <div class="title">მუხლი 4. დავის გადაწყვეტა</div>
                    <div class="content">
                        4.1 მხარეები სადაო საკითხებს წყვეტენ ურთიერთშეთანხმების საფუძველზე. შეუთანხმებლობის შემთხვევაში „აბონენტს“ შეუძლია შესაბამისი საჩივრით მიმართოს „კომპანიის“ მომხმარებელთა საჩივრების განმხილველ სამსახურს, საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს. მომხმარებელთა საჩივრების განმხილველი სამსახური დავას განიხილავს ,,ელექტრონული კომუნიკაციების შესახებ“ საქართველოს კანონითა და ,,კომპანიის“ მომხმარებელთა საჩივრების განმხილველი სამსახურის დებულებით დადგენილი წესით 15 (თხუთმეტი) დღის ვადაში. მიღებული გადაწყვეტილება შეიძლება 30 (ოცდაათი) დღის ვადაში გასაჩივრდეს საქართველოს კომუნიკაციების ეროვნულ კომისიაში ან სასამართლოში.<br />
                        4.2 „აბონენტს“ უფლება აქვს მოქმედი კანონმდებლობის შესაბამისად პირდაპირ მიმართოს საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს.
                    </div>
                    <div class="title">მუხლი 5. ხელშეკრულების ძალაში შესვლა და მოქმედების ვადა</div>
                    <div class="content">
                        5.1 ხელშეკრულება ძალაში შედის მხარეთა მიერ ხელმოწერის დღიდან და მოქმედებს 3 (სამი) წლის განმავლობაში. თუ ხელშეკრულების მოქმედების ვადის გასვლამდე არც ერთი მხარე წერილობით არ აცნობებს მეორე მხარეს ხელშეკრულებიდან გასვლის სურვილს, ხელშეკრულება ავტომატურად გაგრძელდება იგივე ვადითა და პირობებით. <br />
                        5.2 „აბონენტი“ უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, ამ შემთხვევაში აბონენტი იხდის შეწყვეტის საკომისიოს 5 ლარის ოდენობით.  <br />
                        5.3 ხელშეკრულების შეწყვეტისას ხდება მხარეთა შორის ანგარიშსწორება;<br />
                        5.4 „კომპანია“ უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, რის შესახებაც ვალდებულია „აბონენტს“ ინდივიდუალური შეტყობინება გაუგზავნოს შეწყვეტის თარიღის დადგომამდე 1 (ერთი) თვით ადრე და იმ შემთხვევაში თუ „აბონენტს“ ანგარიშზე ერიცხება 1 (ერთ) თვეზე მეტი მომსახურების გადასახადის ფულადი თანხა ერთი მიმღები მოწყობილობისთვის, „კომპანია“ ვალდებულია უკან დაუბრონოს „აბონენტს“ არსებული ნაშთი;
                    </div>
                    <div class="title">მუხლი 6. გარდამავალი დებულებები</div>
                    <div class="content">
                        ის ურთიერთობანი რომელიც არ წესრიგდება აღნიშნული ხელშეკრულებით, უნდა მოწესრიგდეს  საქართველოს მოქმედი კანონმდებლობისა და ,,კომპანიის“ ვებ-გვერდზე (www.digitaltv.ge) გამოქვეყნებული სტანდარტული პირობების შესაბამისად.

                    </div>
                    <br />
                    <br />
                    <div class="footer">
                        <div class="title">მხარეთა ხელმოწერა</div>
                        <br />
                        <br />
                        <div class="sign-wrapper clearfix">
                            <div class="sign" id="left-sign">_______________________</div>
                            <div class="sign" id="right-sign">_______________________</div>
                        </div>
                        <br />
                        <br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

