<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">დეტალური ფილტრი</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="drp_group" class="control-label col-md-3">ჯგუფი:</label>
                            <div class="col-md-5">
                                @Html.DropDownList("Group", new SelectList((List<IdName>)ViewBag.Groups, "Id", "Name"), "", new { @class = "form-control input-sm", id = "drp_group" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="drp_status" class="control-label col-md-3">სტატუსი:</label>
                            <div class="col-md-5">
                                <select class="form-control input-sm" id="drp_status">
                                    <option></option>
                                    <option value="0">რეგისტრაცია</option>
                                    <option value="1">მონტაჟი</option>
                                    <option value="2">გაუქმება</option>
                                    <option value="3">დამუშავება</option>
                                    <option value="4">გადადება</option>
                                    <option value="5">ლოდინი</option>
                                    <option value="6">გაგზავნა</option>
                                    <option value="7">დასრულება</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_abonent" class="control-label col-md-3">აბონენტი:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txt_abonent" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_region" class="control-label col-md-3">რეგიონი:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txt_region" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_city" class="control-label col-md-3">ქალაქი/სოფელი:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txt_city" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_district" class="control-label col-md-3">უბანი:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txt_district" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">სავ. მისვლის დრო:</label>
                            <div class="col-md-9" id="dtt">
                                @{Html.RenderPartial("~/Views/Shared/_DatetimePickers.cshtml", new ViewDataDictionary() { { "ID", "picker_dt" } });}
                                
                             </div>
                            <script type="text/javascript">
    $(function () {
        $("#dtt .datepickers").datePickers({ prefix: "picker_dt" });
        $("#picker_dt_picker_nav").remove();
    });
                            </script>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" id="detail_filter_print">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Excel
                </button>
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn btn-default btn-xs" id="detail_filter">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> ძებნა
                </button>
            </div>
        </div>
    </div>
</div>
