
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="order_dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="list-group">

                    <li class="list-group-item" data-index="0">მისვლის თარიღის შეცვლა</li>
                    <li class="list-group-item" data-index="1">ჯგუფის შეცვლა</li>

            </ul>
        </div>
    </div>
</div>