@model AbonentDoc
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc1</title>
    <style>
        #doc_wrapper[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

        #doc_wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        ul {
        }

        .title {
            font-weight: bold;
        }

        .sign {
            display: inline-block;
        }

        #left-sign {
            float: left;
        }

        #right-sign {
            float: right;
        }

        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
    <div id="doc_wrapper" size="A4">
        <table>
            <tr>
                <th>
                    <br />
                    <br />
                    <div>
                        <span>მიღება-ჩაბარების აქტი</span>
                    </div>
                    <br />
                    <br />
                </th>
            </tr>
            <tr>
                <td>
                    <div class="sign-wrapper clearfix">
                        <div class="sign" id="right-sign">_____  ____________2017წ.</div>
                    </div>
                    <br />
                    <br />
                    <div class="content">
                        ერთი მხრივ _____________________ (ს/კ __________________; მისამართი: _____________________) წარმოდგენილი __________________________________ სახით (შემდგომში ,,გამყიდველი“) და მეორე მხრივ _______________________________ (პ/ნ _________________; მისამართი: ____________________) (შემდგომში „მყიდველი“) ვადგენთ წინამდებარე აქტს შემდეგზე:
                    </div>
                    <br />
                    <div>

                        <ul>
                            <li>
                                მხარეები თანხმდებიან, რომ გამყიდველმა მყიდველს საკუთრებაში გადასცა _____ ცალი მიმღებ-მოწყობილობა ნომრით: <b>BTV-5K</b>;
                            </li>
                            <li>
                                ქარხნული წუნის შემთხვევაში მიმღები მოწყობილობის შეცვლა შესაძლებელია მისი გადაცემიდან 7 (შვიდი) კალენდარული დღის განმავლობაში. გადაცემიდან 7 (შვიდი) კალენდარული დღის შემდგომ 6 (ექვსი) თვის განმავლობაში ქარხნული წუნის არსებობისას ხორციელდება ნივთის  შეკეთება (თუ შეკეთება შეუძლებელია,  ხდება ნივთის შეცვლა);
                            </li>
                            <li>
                                ქარხნულ წუნს ადგენს შპს ,,დი +“ - ნივთის მიღებიდან 3 (სამი) სამუშაო დღეში, ხოლო ქარხნული წუნის დადგენის შემთხვევაში შპს ,,დი +“ ვალდებულია შეაკეთოს/შეცვალოს  ნივთი 10 (ათი) სამუშაო დღის ვადაში;
                            </li>
                            <li>
                                მყიდველი საგარანტიო პირობებით სარგებლობისთვის მიმართავს შპს ,,დი +“-ს სერვის ცენტრს,  მისამართზე: ქ. თბილისი, ალექსიძის ქ. #1
                            </li>
                            <li>
                                სხვა მიზეზით დაზიანებული  ნივთის შეცვლა ხდება იმავე მოდელით. ამ დროს აბონენტმა თავიდან უნდა გადაიხადოს დაზიანებული ნივთის შესაბამისი ღირებულება
                            </li>
                            <li>
                                წინამდებარე აქტში მითითებული შემთხვევების გარდა დაზიანებული ნივთის უკან დაბრუნება არ ხდება.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <div class="footer">
                        <br />
                        <br />
                        <div class="sign-wrapper clearfix">
                            <div class="sign" id="left-sign">გამყიდველი<br /><br /><br />_______________________</div>
                            <div class="sign" id="right-sign">მყიდველი<br /><br /><br />_______________________</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

