

<div class="modal fade" id="subscr_list_modal" style="overflow-y:auto">
    <style>
        .textb {
            border: 1px solid #c4c4c4;
            height: 32px;
            width: 210px;
            font-size: 13px;
            padding: 4px 4px 4px 4px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 0px 0px 8px #d9d9d9;
            -moz-box-shadow: 0px 0px 8px #d9d9d9;
            -webkit-box-shadow: 0px 0px 8px #d9d9d9;
        }

            .textb:focus {
                outline: none;
                border: 1px solid #7bc1f7;
                box-shadow: 0px 0px 8px #7bc1f7;
                -moz-box-shadow: 0px 0px 8px #7bc1f7;
                -webkit-box-shadow: 0px 0px 8px #7bc1f7;
            }
    </style>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:400px;margin-left:300px;">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group diler_filter_edit" style="display: block;">
                        <label class="control-label col-md-4" for="code_word">კოდური სიტყვა:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control textb" id="diler_code_edit">
                        </div>
                    </div>
                    <div class="form-group diler_true_false" style="display: block;">
                        <div class="col-md-12">
                            <label id="_label_true_false"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">დახურვა</button>
            </div>
        </div>
    </div>
</div>

