input[type=radio] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 8px;  
}

.g {
    padding: 5em;
}

.search.dropdown, select {
    width: 170px !important;
}