
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Blank";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
